html, body {
  height:98%;
  font-family: Courier;
  font-size: 20px;
  print-color-adjust: exact;
 -webkit-print-color-adjust: exact;
}

body {
  counter-reset: page;
  background-color:black;
  font-family: Courier;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Courier;
  font-weight: bold;
}
.ic-white {
  background-color:#ffffff;
}
.ic-offwhite {
  background-color:#e0e0d8;
}
.pad-top {
  padding-top: 45px;
}

.side-by-side {
  display:grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}
.right-by-side {
  display:grid;
  grid-template-columns: 75% 25%;
  grid-gap: 10px;
}
.triple {
  padding-left: 10px;
  padding-right: 10px;
  display:grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
}

.full-width {
  width: 100%;
  margin:0px;
}
.half-width {
  width: 40%;
  margin:0px;
}

.slide {
  position:relative;
  page-break-after: always;
  background-color: #f5f5f0;
}

.full {
  height:100%;
  max-width:100%;
}
pre {
  border:1px solid grey;
  overflow:scroll;
}
div.t-code, pre.t-code {
  border-bottom:1px solid white;
  line-height:1.2;
}
div.t-code p, pre.t-code p {
  margin-top: -20px;
  margin-bottom: 0px;
  padding: 0px;
  word-break: break-all;
  white-space: pre-line;
}

.w3-code {
  margin-top:0px;
  overflow-y: hidden;
  font-family: "Google Nova Mono", monospace;
 overflow-x: hidden;
}
div.w3-code {
  border-top:1px solid grey;
  border-bottom:1px solid grey;
  border-right:1px solid grey;
}
.half {
  height:40%;
  padding:3px;
  margin:0px;
}
.logo { height:22px; }
.logo2 { height:50px; }
.fit {
  height:60vh;
}
.fit2 {
  aspect-ratio: 1;
}
.noscroll {
  overflow:hidden;
}

.whatevs {
    width: 20vh;
    float:right;
    margin-right:10vh;
}



.output {
  font-family: "Google Nova Mono", monospace;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
  background-color: black;
  padding: 2px;
  font-size: 16px;
  line-height: 1.1;
}

.terminal-window {
    border-top: 18px solid #e0e0e0;
    border: 12px solid #e0e0e0;
    outline: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: inline-block;
    line-height: 0;
}

.terminal-window p {
    margin: 0;
    line-height: 0;
}

.terminal-window img {
    display: block;
    border: 1px solid #000;
}

ul.links {
  list-style: none;
  padding: 0;
  font-size: 1.1em;
}

ul.links li {
}

ul.links a {
  text-decoration: none;
}

